@use "reset";
@use "buttons";
body {
  font-family: sans-serif;
}
.bold {
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
a:not(aside a) {
  text-decoration: none;
  color: black;
}

input,
button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.5rem;
}
ul {
  list-style: none;
  padding: 0;
  li {
    margin: 0.5rem 0;
  }
}
main section {
  margin: 2rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem 6rem;
}
/* Index.html */

#banner {
  background-color: lightgray;
  text-align: right;
  padding: 2rem 0.5rem 2rem 3rem;
  h2,
  p {
    margin: 1rem 0;
  }
  a {
    background-color: #fefefe;
    padding: 0.5rem;
  }
}

#popular-products {
  #buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
  }
  button {
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem;
    cursor: pointer;
  }
}
.product-card-grouping {
  display: grid;
  grid-template-columns: 1fr;

  h3,
  p {
    margin: 0.5rem 0;
  }
  span p {
    display: inline;
  }
}

#popular-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  ul {
    width: 100%;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-height: 400px;
    color: white;
  }
}
#kategori1 {
  background-image: url("../media/bread-2218233_1280.jpg");
}
#kategori2 {
  background-image: url("../media/strawberry-1330459_1280.jpg");
}
#kategori3 {
  background-image: url("../media/hotel-1330847_1280.jpg");
}
#kategori4 {
  background-image: url("../media/key-1504422_1280.jpg");
}
#kategori5 {
  background-image: url("../media/white-wine-3185558_1280.jpg");
}
#category-cards li {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#anmeldelser {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  article {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    img {
      max-width: 150px;
      height: auto;
    }
  }
}
/* Product.html */

#breadcrumb {
  ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  ul > li::after {
    content: " >";
    margin-left: 0.5rem;
  }
  ul > li:last-child::after {
    content: "";
  }
}
aside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}
/* ::after pseudo selektorene er noe jeg er lite kjent med fra før av, og spesielt "content" attributet. Dette krevde et par googlesøk for å finne, og for å forstå hvordan det fungerte.
Dette måtte jeg søke etter på nettet og kommenterer derfor dette i koden.
Koden under fungerer på denne måten, ul > li::after velger alle barneelementer av typen li som er direkte under ul elementet.
content: " >"; setter inn en pil etter hvert element som er valgt, ettersom at vi brukte selektoren ::after her. (hadde jeg brukt ::before ville pilene ha kommet på starten i steden, og koden ville ha blitt "speilvendt").
den siste selektoren sier i bunn og grunn at det siste barneelementet ikke skal ha en pil etter seg.
kommenterer dette ettersom jeg ikke er sikker på i hvilken grad disse selektorene har blitt brukt i kurset.
Link til siden jeg fant informasjonen på: https://developer.mozilla.org/en-US/docs/Web/CSS/::after
  */

#information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  button {
    width: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
  }
}
aside article {
  width: 100%;
}

/* checkout.html */

#shoppingbagen ul {
  img {
    max-width: 500px;
    height: auto;
  }
  label {
    font-size: 1rem;
  }
  select,
  input {
    height: 3rem;
    padding: 1rem;
    border: solid 1px rgb(0, 0, 0, 0.2);
    width: 4rem;
  }
  select {
    background-color: lightgrey;
  }
}

#personopplysninger form,
#betaling form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  fieldset {
    border: none;
  }
  input {
    width: 100%;
    padding: 1rem;
  }
  ul {
    margin-bottom: 2rem;
  }
}
#levering li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 1rem;
  span {
    width: 50%;
  }
  .price {
    text-align: end;
    width: 50%;
  }
  .info {
    color: grey;
    flex: 2;
  }
}

#personopplysninger input {
  margin: 0.5rem 0;
}
#terms li input {
  width: auto;
}
/* Footer */
footer {
  h2 {
    margin: 1rem 0;
  }
  li {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  html {
    display: flex;
    justify-content: center;
  }
  body {
    max-width: 1200px;
  }
  header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    ul,
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        padding: 1rem;
      }
    }
  }
  .product-card-grouping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-card-grouping li {
    display: flex;
    flex: 1 1 300px;
    max-width: 350px;
  }
  .product-card {
    max-width: 350px;
    flex-grow: 1;
    margin: auto 1rem auto 1rem;
  }

  .normal {
    max-width: 386px;
    width: 100%;
  }
  .large {
    max-width: 864px;
    width: 100%;
  }
  .small {
    max-width: 300px;
    width: 100%;
  }

  #category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #anmeldelser ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1rem;
    article {
      max-width: 289px;
    }
  }

  /* Product.html */
  #product-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
  }
  #pictures {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, max(160px));
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    img {
      width: 100%;
      height: auto;
    }
    img:nth-child(1) {
      grid-column: 1 / 4;
    }
    img:not(:first-child) {
      max-width: 160px;
    }
  }
  #information {
    max-width: 440px;
  }

  /* checkout.html */
  #shoppingbagen ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li {
      width: 100%;
    }
    article {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        display: inline;
        width: 100%;
        height: auto;
        max-width: 300px;
      }
      h3,
      p,
      input,
      label,
      select {
        display: inline;
      }
      span {
        margin-bottom: 2rem;
        height: 100%;
      }
    }
  }

  #betaling form,
  #personopplysninger form fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  #personopplysninger form fieldset {
    #adresse {
      grid-column: 1 / 3;
    }
    #epost {
      grid-column: 1 / 3;
    }
    #telefon {
      grid-column: 1 / 3;
    }
    button {
      grid-column: 1 / 3;
    }
    #avbryt {
      width: 20%;
      margin: auto;
    }
  }

  #betaling form {
    .betaling-form {
      display: inherit;
      grid-column: 1/3;
      grid-template-columns: inherit;
      gap: 0.5rem;
      .kort {
        grid-column: 1/3;
      }
    }
    button,
    p {
      justify-self: center;
      grid-column: 1/3;
    }
    #price {
      font-size: 1.5rem;
      font-weight: bold;
    }
    #terms {
      grid-column: 1 / 3;
      justify-items: center;
    }
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    #company {
      width: 100%;
    }
  }
}
