/*Håper ikke at denne filen bommer på det med kun en css-fil, dette er vel i all betraktning en css-reset jeg kunne hatt i main.scss filen, men dette føltes bare feil ut.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
